<h2>List your live stream</h2>



<form action="/videos/create">
	<label for="video[title]">Title</label><br />
	<input name="video[title]" type="text" /><br />
	<label for="tags">Tags</label><br />
	<input name="tags" type="text" /><br />
	<label for="video[author]">Author</label><br />
	<input name="video[author]" type="text" /><br />
	<label for="video[embedcode]">Embed code (UStream...)</label><br />
	<input name="video[embedcode]" type="text" /><br />
	<label for="video[latitude]">Latitude</label><br />
	<input name="video[latitude]" type="text" /><br />
	<label for="video[longitude]">Longitude</label><br />
	<input name="video[longitude]" type="text" /><br />
	<input type="submit" value="Save" />
</form>

