<h1>Search for "<%= params[:q] %>"</h1>

<form action="/videos/search">

	<input type="text" name="q" value="<%= params[:q] %>" />
	<input type="submit" value="Search" />

</form>

<a href="/videos/new">New video [+]</a>

<%= render :partial => "map" %>
<%= render :partial => "videos" %>
