<h1>Search for "<%= params[:q] %>"</h1>

<form action="/videos/search">

	<input type="text" name="q" />
	<input type="submit" value="Search" />

</form>

<a href="/videos/new">New video [+]</a>

<h2>MAP HERE</h2>

<%= render :partial => "videos" %>
